/* FF8C8C */
body {
    margin: 0;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

h1 {
    color: #6E85B7;
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    margin: 50px auto 0 auto;

}
h2 {
    font-family: 'Changa', sans-serif;
    font-size: 2rem;
    margin-top: 20;
    color: #748DA6;
}

h3 {
    font-family: 'Crimson Text', serif;
    color: #748DA6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 8%;
    border-top-width: 10px;
    margin: 80px auto;

    color: #E4D8DC;
}

.long {
    width: 40%;
    margin: 40px auto 10px;
}

.top-container {
    background-color: #EFFFFD;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.middle-container {
    }

.bottom-container {
    background-color: #B2A4FF;
    padding: 40px 0 20px;

   }

.contact-me {
    margin: 20px auto;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 400px;
    }

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 25px;
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.im-img {
    width: 25%;
    float: left;
    margin-right: 5%;

}
.computer-img {
    width: 25%;
    float: right;
    margin-left: 5%;
}

.python-img {
    width: 25%;
    float: left;
    margin-right: 5%;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    padding: 10px 0 5px;
}

.img {
    width: 6%;
}
.mail {
    width: 5%;
}

/*FAD4D4*/
/*#E4D8DC*/